<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Resetear contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <form #loginHForm="ngForm" (ngSubmit)="resetPassword()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" [(ngModel)]="email" name="email" required ngControl="email"></ion-input>
        </ion-item>
        <ion-button expand="block" fill="outline" type="submit" [disabled]="!loginHForm.valid">Resetear contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
