<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitud</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <h3 style="text-align: center;">Solicitud</h3>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-img [src]="request.dpi ? request.dpi :'https://www.renap.gob.gt/sites/default/files/dpi_0.PNG'"></ion-img>
          <ion-card-title>{{request.personFullName}}</ion-card-title>
          <ion-card-subtitle>Cerca de {{request.municipality}} - Solicitado el: {{(request.createdAt?.seconds * 1000) | date : 'yyyy-MM-dd HH:mm'}}</ion-card-subtitle>
          <p><b>fecha de nacimiento:</b> {{(request.birthday) | date : 'yyyy-MM-dd'}}</p>
          <p><b>Municipio:</b> {{request.municipality}}</p>
          <p text-wrap><b>Teléfono:</b> {{request.phone}}</p>
          <p text-wrap><b>Dirección:</b> {{request.address}}</p>
          <p text-wrap><b>Razón de adopción:</b> {{request.reason}}</p>
          <p text-wrap><b>Referencias:</b> {{request.references}}</p>
          <ion-badge [color]="request.status == 'Enviada' ? 'primary' : request.status == 'Aceptada' ? 'success' : 'danger'" style="margin-top: 2em; padding: 1em;">{{request.status}}</ion-badge>
          <div [hidden]="type == 'mine' || request.status != 'Enviada'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="primary" (click)="callPhone(request.phone)">
                    <ion-icon name="call-outline"></ion-icon>
                    Llamar
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="success" href="https://api.whatsapp.com/send?phone={{request.phone}}">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    Whatsapp
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="success" (click)="agreeRequest()">
                    <ion-icon name="checkmark-outline"></ion-icon>
                    Aprobar</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="danger" (click)="rejectRequest()">
                    <ion-icon name="close-circle-outline"></ion-icon>
                    Rechazar
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <h3 style="text-align: center;">Publicación</h3>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-img [src]="post.picture ? post.picture : 'https://w7.pngwing.com/pngs/700/924/png-transparent-creative-cute-puppy-pet-puppy-dogs-pet.png'"></ion-img>
          <ion-card-title>{{post.race}} - {{post.name}}</ion-card-title>
          <ion-card-subtitle>Cerca de {{post.municipality}} - Publicado: {{(post.createdAt?.seconds * 1000) | date : 'yyyy-MM-dd HH:mm'}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

