<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #requestForm="ngForm" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre completo*</ion-label>
        <ion-input type="text" [(ngModel)]="request.personFullName" name="personFullName" required ngControl="personFullName" placeholder="Su nombre completo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button shape="round" slot="start" size="small" (click)="takePhoto()">
          Tomar foto de DPI
          <ion-icon slot="end" name="camera"></ion-icon>
        </ion-button>
      </ion-item>
      <div style="padding-bottom: 12px; text-align: center;">
          <img [src]='request.dpi' onError="this.src='assets/img/placeholder150.png'" style="min-width: 200px; min-height: 200px; max-width: 200px; max-height: 200px;  text-align: center;">
      </div>
      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento*</ion-label>
        <ion-input type="date" [(ngModel)]="request.birthday" name="birthday" required ngControl="birthday" placeholder="Fecha de nacimiento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Departamento*</ion-label>
        <ion-select [(ngModel)]="request.department" name="department" required ngControl="department" (ionChange)="getMunicipalities($event.target.value)">
          <ion-select-option *ngFor="let department of departments" [value]="department.id">{{department.department}}</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Municipio*</ion-label>
        <ion-select [(ngModel)]="request.municipality" name="municipality" required ngControl="municipality">
          <ion-select-option *ngFor="let municipality of municipalities" [value]="municipality.municipality">{{municipality.municipality}}</ion-select-option>
        </ion-select>
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">Dirección completa*</ion-label>
        <ion-input type="text" [(ngModel)]="request.address" name="address" required ngControl="address" placeholder="Dirección completa"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono*</ion-label>
        <ion-input type="tel" [(ngModel)]="request.phone" name="phone" required ngControl="phone" placeholder="Teléfono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" text-wrap >Razón de la adopción* (Indique también si tiene espacio suficiente para el tipo de perro)</ion-label>
        <ion-textarea [(ngModel)]="request.reason" name="reason" required ngControl="reason" placeholder="Razón de la adopción"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" text-wrap >Ingrese al menos tres referencias personales o laborales y sus teléfonos</ion-label>
        <ion-textarea [(ngModel)]="request.references" name="references" required ngControl="references" placeholder="Referencias"></ion-textarea>
      </ion-item>         
    </ion-list>
    <ion-button expand="block" color="secondary" type="submit" [disabled]="!requestForm.valid">
      Enviar Solicitud de adopción
      <ion-icon slot="end" name="send-outline"></ion-icon>
    </ion-button>

  </form>
</ion-content>
