<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Crear Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #postForm="ngForm" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre de la mascota*</ion-label>
        <ion-input type="text" [(ngModel)]="post.name" name="name" required ngControl="name" placeholder="Nombre de la mascota"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Edad en meses*</ion-label>
        <ion-input type="number" [(ngModel)]="post.age" name="age" required ngControl="age" placeholder="Edad en meses"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Departamento*</ion-label>
        <ion-select [(ngModel)]="post.department" name="department" required ngControl="department" (ionChange)="getMunicipalities($event.target.value)">
          <ion-select-option *ngFor="let department of departments" [value]="department.id">{{department.department}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Municipio*</ion-label>
        <ion-select [(ngModel)]="post.municipality" name="municipality" required ngControl="municipality">
          <ion-select-option *ngFor="let municipality of municipalities" [value]="municipality.municipality">{{municipality.municipality}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Raza*</ion-label>
        <ion-select [(ngModel)]="post.race" name="race" required ngControl="race">
          <ion-select-option *ngFor="let race of races" [value]="race.race">{{race.race}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" text-wrap >Características de la mascota u observación</ion-label>
        <ion-textarea [(ngModel)]="post.observation" name="observation" required ngControl="observation" placeholder="Observación"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button shape="round" slot="start" size="small" (click)="takePhoto()">
          Tomar foto mascota
          <ion-icon slot="end" name="camera"></ion-icon>
        </ion-button>
      </ion-item>
      <div style="padding-bottom: 12px;">
        <ion-avatar style="height: auto; width: auto; text-align: center;">
          <img [src]='post.picture' onError="this.src='assets/img/placeholder150.png'" style="min-width: 200px; min-height: 200px; max-width: 200px; max-height: 200px;  text-align: center;">
        </ion-avatar>
      </div>
    </ion-list>
    <ion-button expand="block" color="secondary" type="submit" [disabled]="!postForm.valid">
      Crear publicación
      <ion-icon slot="end" name="send-outline"></ion-icon>
    </ion-button>

  </form>
</ion-content>
