<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">{{type == 'mine' ? 'Enviadas' : 'Bandeja'}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item button *ngFor="let request of requests" [routerLink]="['/view-request/' + request.id + '/' + type]">
        <ion-label slot="start" text-wrap>Solicitud {{(request.createdAt.seconds * 1000) | date : 'yyyy-MM-dd HH:mm'}}</ion-label>
        <ion-chip slot="end">
          <ion-label [color]="request.status == 'Enviada' ? 'primary' : request.status == 'Aceptada' ? 'success' : 'danger'">{{request.status}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

